<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="ime">Ime</label>
    <div class="controls">
      <input type="text" id="ime" placeholder="npr. Marko"  value="{{ime}}"  autofocus required> 
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="prezime">Prezime</label>
    <div class="controls">
      <input type="text" id="prezime" placeholder="npr. Markovic" value="{{prezime}}" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="imeRoditelja">Ime Roditelja</label>
    <div class="controls">
      <input type="text" id="imeRoditelja" placeholder="Ime jednog od roditelja" value="{{imeRoditelja}}" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="jmbg">Maticni Broj</label>
    <div class="controls">
      <input type="text" id="jmbg" placeholder="npr. 2409989302118" value="{{jmbg}}" pattern="^\d{13}$" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="mjesto">Mjesto Stanovanja</label>
    <div class="controls">
      <input type="text" id="mjesto" placeholder="npr. Brod" value="{{mjesto}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="ulica">Ulica</label>
    <div class="controls">
      <input type="text" id="ulica" placeholder="npr. Svetog Save 112" value="{{ulica}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="telefon">Broj Telefona</label>
    <div class="controls">
      <input type="text" id="telefon" placeholder="npr. 066 633 633" value="{{telefon}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email Adresa</label>
    <div class="controls">
      <input type="text" id="email" placeholder="npr. primjer@gmail.com" value="{{email}}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="index">Index</label>
    <div class="controls">
      <input type="text" id="index" placeholder="npr. 11509 (bez kose crte)" value="{{_id}}" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="fakultet">Fakultet</label>
    <div class="controls">
      <select id="fakultet" data-podatak="{{fakultet}}" required>
        <option></option>
      </select>
    </div>
  </div>
  
  
  <div class="control-group">
    <label class="control-label" for="studijskiProgram">Studijski Program</label>
    <div class="controls">
      <select id="studijskiProgram" data-podatak="{{studijskiProgram}}" required>
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary sacuvaj"><i class="icon-ok icon-white"></i>Sacuvaj</button>
      <button class="btn btn-danger odustani"><i class="icon-remove-circle icon-white"></i>Odustani</button>
    </div>
  </div>
</form>