<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="nazivSP">Naziv Studijskog Programa</label>
    <div class="controls">
      <input type="text" id="inputNazivSP" placeholder="Naziv Studijskog Programa" required autofocus>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sifraSP">Sifra Studijskog Programa</label>
    <div class="controls">
      <input  type="text" id="inputSifraSP" placeholder="Bez razmaka npr. Opsti240ECTS " required>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>Sacuvaj</button>
    </div>
  </div>
</form>