<div class="informacije">
	<div class="red"><label>Naziv Ispitnog Roka:</label> <p><strong>{{naziv}}</strong></p></div>
	<div class="red"><label>Sifra:</label> <p> <strong>{{_id}}</strong></p></div>
	<div class="red"><label>Ispitni Rok: Pocetak</label> <p> <strong>{{ispitniOd}}</strong></p></div>
	<div class="red"><label>Ispitni Rok: Kraj</label> <p> <strong>{{ispitniDo}}</strong></p></div>
	<div class="red"><label>Prijava Ispita: Od</label> <p> <strong>{{prijavaOd}}</strong></p></div>
	<div class="red"><label>Prijava Ispita: Do</label> <p> <strong>{{prijavaDo}}</strong></p></div>
	<button class="btn btn-primary">Uredi</button>
</div>