<div class="search-main">
      <form class="form-search">
      <input type="text" class="input-xxlarge search-query typeahead" placeholder="Broj indeksa, Ime Prezime, Predmet...." autofocus>
      <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
</form>
    </div>
    <hr>
    <div class="row">
        <div class="span4">
      <div class="btn btn-block" data-link="fakulteti"><strong>Fakulteti</strong></div>
        </div>
        <div class="span4">
          <div class="btn btn-block" data-link="profesori"><strong>Profesori</strong></div>
        </div>
        <div class="span4">
         <div class="btn btn-block" data-link="predmeti"><strong>Predmeti</strong></div>
       </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="btn btn-block" data-link="studenti"><strong>Studenti</strong></div>
        </div>
        <div class="span4">
         <div class="btn btn-block" data-link="ispiti"><strong>Ispiti</strong></div>
        </div>
        <div class="span4">
         <div class="btn btn-block" data-link=""><strong>Dokumenti</strong></div>
       </div>
      </div>