<div class="informacije">
	<div class="red"><label>Naziv:</label> <p><strong>{{naziv}}</strong></p></div>
	<div class="red"><label>Sifra:</label> <p> <strong>{{sifra}}</strong></p></div>
	<div class="red"><label>Status:</label> <p> <strong>{{status}}</strong></p></div>
	<div class="red"><label>Bodovi:</label> <p> <strong>{{bodovi}}</strong></p></div>
	<div class="red"><label>Profesor:</label> <p> <strong>{{profesor}}</strong></p></div>
	<div class="red"><label>Asistent:</label> <p> <strong>{{asistent}}</strong></p></div>
	<div class="red"><label>Fakultet:</label> <p> <strong>{{fakultet.naziv}}</strong></p></div>
	<div class="red"><label>Studijski program:</label> <p> <strong>{{fakultet.studijskiProgram}}</strong></p></div>
	<div class="red"><label>Bodovi:</label> <p> <strong>{{bodovi}}</strong></p></div>
	<div class="red"><label>Casovi:</label> <p> Teorija: <strong>{{casovi.predavanja}}</strong></p><p> Vjezbe: <strong>{{casovi.vjezbe}}</strong></p></div>
	<div class="red"><label>Opis:</label> <p> <strong>{{opis}}</strong></p></div>
	<button class="btn btn-primary">Uredi</button>
</div>

