<div class="informacije">
	<div class="red"><label>Ime:</label> <p><strong>{{ime}}</strong></p></div>
	<div class="red"><label>Prezime:</label> <p> <strong>{{prezime}}</strong></p></div>
	<div class="red"><label>Titula:</label> <p> <strong>{{titula}}</strong></p></div>
	<div class="red"><label>JMBG:</label> <p> <strong>{{jmbg}}</strong></p></div>
	<div class="red"><label>Mjesto:</label> <p> <strong>{{mjesto}}</strong></p></div>
	<div class="red"><label>Ulica:</label> <p> <strong>{{ulica}}</strong></p></div>
	<div class="red"><label>Telefon:</label> <p> <strong>{{telefon}}</strong></p></div>
	<div class="red"><label>Email:</label> <p> <strong>{{email}}</strong></p></div>
	<div class="red"><label>Fakultet:</label> <p> <strong>{{fakultet}}</strong></p></div>
	<button class="btn btn-primary">Uredi</button>
</div>
