<div class="tabbable tabs-right"> 
<ul class="nav nav-tabs">
{{#meni}}
<li class="{{#aktivan}}active{{/aktivan}}" ><a href="#tab" data-lokacija="{{link}}">{{naziv}}</a></li>
{{/meni}}
</ul>
 <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                 <div class="sadrzajPodaci">

                  <div class="informacije">
                    <div class="red"><label>Naziv Fakulteta:</label> <p><strong>Fakultet za Informacione Tehnologije</strong></p></div> 
                    <div class="red"><label>Skraceni Naziv Fakulteta:</label> <p> <strong>FIT</strong></p></div>
                    <div class="red"><label>Opis:</label> <p> Informatika i racunarstvo </p></div>
                    <button class="btn btn-primary">Uredi</button>

                  </div>

                </div>
              </div>
    </div>