{{#semestri}}
<table class="table table-bordered">
  <caption><h4>{{_id}} Semestar</h4></caption>
  <thead>
    <tr>
      <th>Naziv Predmeta</th>
      <th>Sifra Predmeta</th>
      <th>Ocjena</th>
    </tr>
  </thead>
  <tbody>
{{#predmeti}}
    <tr>
      <td><a data-lokacija="predmeti/{{sifra}}/" href="#">{{naziv}}</a></td>
      <td>{{sifra}}</td>
      {{#ocjena}}
         <td><span class="badge badge-success ">{{ocjena}}</span></td> 
      {{/ocjena}}
      {{^ocjena}}
      <td><button class="btn btn-mini ocjena" data-lokacija="{{sifra}}"><i class="icon-plus-sign"></i>  Ocjena</button</td>
      {{/ocjena}}
    </tr>
{{/predmeti}}

  </tbody>
</table>
{{/semestri}}

{{^semestri}}
Nema Aktiviranih semestara. Da bi aktivirali semestar kliknite na dugme iznad.
{{/semestri}}