<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="naziv">Naziv Predmeta</label>
    <div class="controls">
      <input type="text" id="input" placeholder="" value="{{naziv}}"  disabled>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sifra">Sifra Predmeta</label>
    <div class="controls">
      <input  type="text" id="sifra" value="{{_id}}"  disabled>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="predavanja">Predavanja</label>
    <div class="controls">
      <input  type="text" id="predavanja" value="" placeholder="Bodovi sa predavanja">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="vjezbe">Vjezbe</label>
    <div class="controls">
      <input  type="text" id="vjezbe" value="" placeholder="Bodovi sa vjezbi">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="dodatni">Dodatni bodovi</label>
    <div class="controls">
      <input  type="text" id="dodatni" value="" placeholder="Dodatni Bodovi">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="ocjena">Ocjena</label>
    <div class="controls">
      <input  type="text" id="ocjena" value="" placeholder="Ocjena">
    </div>
  </div>

  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary sacuvaj"><i class="icon-ok icon-white"></i>Sacuvaj</button>
    </div>
  </div>
</form>